
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.logoHeader {
    width:auto;
    height: 90px;
    margin-top: -20px;
    
} 
.paragrafHeader1 {
    margin-top: -65px;
    margin-left: 86px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 700;
    color:#3D2526 ;
    font-size: 25px;
}











































