.logoHeader {
    width:auto;
    height: 150px;
} 
.paragrafHeader1 {
    margin-top: -65px;
    margin-left: 86px;
}

.navigationBar{
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    gap: 20px;
    height: 40px;
    border: 0px;

}

button{
    border-radius: 10px;
    border: none;
    
}