@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.logoHeader {
    width:auto;
    height: 90px;
    margin-top: -20px;

} 
.paragrafHeader1 {
    margin-top: -65px;
    margin-left: 86px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 700;
    color:#3D2526 ;
    font-size: 25px;
}



body{
    font-family: 'Montserrat', sans-serif;
    
}

.glavni-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background-color: white;
    flex-wrap: wrap;
    position:sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-centar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-sekcija{
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 200px;
    position:sticky;
    margin-right: 300px;
}

.logoHeader {
    height: 80px;
    margin-left: -30px;
} 
.paragrafHeader1 {
   margin: 0;
   font-weight: bold;
}

.navigationBar {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    position:sticky;
    
}

a {
    text-decoration: none;
    color:black;
}

.palacinci1{
     
    height: 300px;
}

.sekcija-krem{
    background-color: #fdfae2;
    margin: 0;
    padding-top: 20px;
    position: relative;
}

.wave{
    background-color: white;
    line-height: 0;
    width: 100%;
    margin-bottom: -30px;
}

.wave svg{
    display: block;
    width: 100%;
    height: auto;

}

body{
    background-color: white;
    margin: 0;
    padding 0;
}